<table>
  <tr>
    <td>
      Category
    </td>
    <td>
      Date
    </td>
    <td>
      Amount
    </td>
    <td>
      New
    </td>
    <td>
      Delete
    </td>
  </tr>
  <tr *ngFor="let budget of budgets">
    <td>
      {{budget.category}}
    </td>
    <td>
      <input [(ngModel)]='budget.budgetDate' type="date" (change)="updateBudgetDt(budget.cbId, budget.budgetDate)">
    </td>
    <td>
      <input [(ngModel)]='budget.budgetAm' (change)="updateBudgetAm(budget.cbId, budget.budgetAm)">
    </td>
    <td>
      <input type="button" (click)="addBudgetLike(budget.categoryId)" value="+">
    </td>
    <td>
      <input type="button" (click)="deleteBudget(budget.cbId)" value="x">
    </td>
  </tr>
</table>